<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [MotoRevApi]Program,
            [MotoRevApi]BearerSecuritySchemeTransformer,
            [MotoRevApi]MotoRevApi.Migrations.*,
            [MotoRevApi]MotoRevApi.Profiles.*,
            [MotoRevApi]Microsoft.AspNetCore.OpenApi.*,
            [MotoRevApi]Microsoft.AspNetCore.OpenApi.Generated.*,
            [Microsoft.AspNetCore.OpenApi]*,
            [Microsoft.AspNetCore.OpenApi.Generated]*,
            [System.Runtime]*,
            [System.Runtime.CompilerServices]*
          </Exclude>
          <ExcludeByFile>
            **/Program.cs,
            **/Migrations/*.cs,
            **/Profiles/MapsterConfig.cs,
            **/obj/**/*.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
